@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arya&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arya;
}


.main-container
{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 1rem;
}

.loading
{
    letter-spacing: 2px;
    color: green;
    text-align: center;
    font-size: 1.1rem;
}

.blue
{
    color: blueviolet;
}

.news-card
{
    /* background-color: #ffe9ec; */
    /* background-color: #f5f5f5; */
    padding: 1.6rem 1rem;
    margin-bottom: 1rem;
    line-height: 2rem;
    box-shadow: rgba(112, 120, 122, 0.1) 0px 4px 12px;
}

.news-card h4 ,p
{
    letter-spacing: 1px;
    font-size: 0.9rem;
}

.title
{
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 1rem;
}

.card-button
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a
{
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 0.9rem;
}

#remove
{
    color: red;
}

#readmore
{
    color: gray;
}

.input-container
{
    max-width: 450px;
    margin: auto;
    
}
.searchbox
{
    width: 100%;
    padding: 0.8rem 1rem;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    letter-spacing: 1px;
    color: rgb(36, 35, 35);
    font-size: 1rem;
    margin-bottom: 2rem;
}

.pagination
{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 2rem;
}

.pagination > button
{
    border: none;
    outline: none;
    padding: 0.2rem 0.8rem;
    color: black;
    letter-spacing: 2px;
    background-color: #f5f5f5;
}




